<!-- jQuery -->
<script src="__PUBLIC__/sbadmin/vendor/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/js/system.js"></script>
<script type="text/javascript" src="__PUBLIC__/laydate/laydate.js"></script>

<script>
    $("li .active").parent("ul").addClass("in");
</script>
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/sbadmin/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/sbadmin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="__PUBLIC__/sbadmin/vendor/raphael/raphael.min.js"></script>
<script src="__PUBLIC__/sbadmin/vendor/morrisjs/morris.min.js"></script>
<script src="__PUBLIC__/sbadmin/data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/sbadmin/dist/js/sb-admin-2.js"></script>