<include file="Public:header"/>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <include file="Public:top" />
            <include file="Public:menu" />
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{$name}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href='javascript:;' onclick="optimize_repaire('{:U('exportsql')}')" class="add"><button type="button" class="btn btn-primary">立即备份</button></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form name="myform" id="myform" method="post">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th class="head1"><input type="checkbox" class="checkall" id="selectall" style="" value=""></th>
                                    <th>表名</th>
                                    <th>数据量</th>
                                    <th>数据大小</th>
                                    <th>描述</th>
                                    <th>引擎类型</th>
                                    <th>创建时间</th>
                                    <!-- <th>操作</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="data" id="datalist">
                                    <tr>
                                        <td>
                                            <div class="checker1 check" id="uniform-undefined">
                                                <input name="tables[]" class='select_ids' value="{$datalist.name}" type="checkbox" >
                                            </div>
                                        </td>
                                        <td>{$datalist.name}</td>
                                        <td>{$datalist.rows}</td>
                                        <td>{$datalist.data_length|format_bytes}</td>
                                        <td>{$datalist.comment}</td>
                                        <td>{$datalist.engine}</td>
                                        <td>{$datalist.create_time}</td>
                                        <!--<td>
                                                <a class="link-optimize" href="javascript:;"  onclick="postUrl('{:U('optimize')}','{$datalist.name}')">优化表</a>
                                                <a class="link-repair" href="javascript:;" onclick="postUrl('{:U('repair')}','{$datalist.name}')">修复表</a>
                                        </td>-->
                                    </tr>
                                </volist>

                                </tbody>
                            </table>
                            </form>
                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                        <ul class="pagination">
                            {$page}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <include file="Public:footer"/>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">

        /**
         * [optimize_repaire 批量修复优化表]
         * @param  {[string]} url [处理数据的url地址]
         * @return {[json]}       [返回json格式]
         */
        function optimize_repaire(url){
            var tables = [];
            $(".select_ids:checked").each(function(index, el) {
                tables.push($(this).val());
            });

            if(tables.length == 0){
                layer.open({
                    content:'请选择要操作的数据！',
                    yes:function(index){
                        layer.close(index);
                    },
                    icon:2
                });
                return false;
            }
            postUrl(url,tables);
        }
        function postUrl(url,sendData){
            layer.load(1);
            $.post(url, {data:sendData}, function(data){
                //弹出消息
                if(data.status){
                    layer.msg(data.info,{icon:1,time:2000,shade: [0.3,'#000']},function(){
                        if(data.url){
                            location.href = data.url;
                        } else {
                            location.reload();
                        }
                    });
                } else {
                    layer.open({
                        content:data.info,
                        yes:function(index){
                            layer.close(index);
                        },
                        icon:2
                    });
                    layer.closeAll('loading');
                    //layer.msg(data.info,{icon:2});
                }
            });
        }
    </script>

</body>

</html>
