<include file="Public:header"/>
<body class="withvernav">
<div class="bodywrapper">
    <include file="Public:top"/>
    <include file="Public:menu"/>
    <div class="centercontent tables">
        <div class="pageheader notab">
            <h1 class="pagetitle">{$name}</h1>
        </div><!--pageheader-->

        <div class="tablebox">
            <div class="tablehead">
                <a href="{:U('article/add_menu')}" class="add"><i class="add_sign"></i>新增</a>

            </div>
            <div id="contentwrapper" class="contentwrapper">
                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <thead>
                    <tr>
                        <th class="head0">id</th>
                        <th class="head1" style="width: 25%;">栏目名称</th>
                        <th class="head0">栏目类型</th>
                        <th class="head1">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td align="center">
                                <if condition="$vo.single_page eq 1">单页面<else/> 列表页</if>
                            </td>
                            <td align="center">
                                <a href="{:U('article/edit_menu',array('id'=>$vo['id']))}">修改</a>
                                <a href="{:U('article/del_menu',array('id'=>$vo['id']))}">删除</a>
                            </td>
                        </tr>
                        <volist  name="vo['last']" id="v">
                            <tr>
                                <td>{$v.id}</td>
                                <td><span style="margin-left: 20px">∟{$v.name}</span></td>
                                <td align="center">
                                    <if condition="$v.single_page eq 1">单页面<else/> 列表页</if>
                                </td>
                                <td align="center">
                                    <a href="{:U('article/edit_menu',array('id'=>$v['id']))}">修改</a>
                                    <a href="{:U('article/del_menu',array('id'=>$v['id']))}">删除</a>
                                </td>
                            </tr>
                        </volist>
                    </volist>
                    </tbody>
                </table>
                <!-- <div class="dataTables_info" id="dyntable_info">显示 1 到 10 总共 51 条数据</div>-->
                <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                    {$page}
                </div>
            </div><!--contentwrapper-->

        </div><!-- centercontent -->

    </div>
</div><!--bodywrapper-->

</body>
</html>
